# vim: noexpandtab
[include]
	path = .gitconfig-local

[core]
	autocrlf = false
	compression = 0
	; pager = diff-so-fancy | less --tabs=1,5 -R

[alias]
	l = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
	st = status -sb
	amend = commit --amend --no-edit
	# list things
	branches = branch -a
	tags = tag
	stashes = stash list
	remotes = remote -v
	# undo things
	unstage = reset -q HEAD --
	discard = checkout --
	# what is about to be commited?
	precommit = diff --cached --diff-algorithm=minimal -w
	cv = commit --verbose

[color]
	ui = auto
[github]
	user = ohle
[push]
	default = simple
[user]
	email = claussen@jpk.com
	name = Ohle Claussen
